.btn {
  overflow: hidden;
  border-radius: 40px;
  width: fit-content;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;

  background: white;
  color: black;
  &.black {
    background: none;
    color: black;
    border: 1px solid black;
    border-radius: 0;
    margin-bottom: 12px;
  }
  @media screen and (max-width: 640px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  a {
    display: flex;
    flex-direction: column;
    &:hover {
      // animation: btnHover1 0.5s ease-in-out forwards;

      span:nth-child(1) {
        animation: span1Animation 0.3s ease-in-out forwards;
      }
      span:nth-child(2) {
        animation: span2Animation 0.3s ease-in-out 0.2s forwards;
      }
    }
    &:not(:hover) {
      // animation: btnHover1 0.5s ease-in-out forwards;

      span:nth-child(1) {
        animation: span1AnimationReverse 0.3s ease-in-out forwards;
      }
      span:nth-child(2) {
        animation: span2AnimationReverse 0.3s ease-in-out forwards;
      }
    }
    span {
      transform: translateY(55%);
      opacity: 1; /* Définir l'opacité à 1 par défaut */
      &:nth-child(2) {
        opacity: 0;
      }
    }
  }
}

@keyframes span1Animation {
  0% {
    transform: translateY(50%);
    opacity: 1; /* Définir l'opacité à 1 au début de l'animation */
  }

  100% {
    transform: translateY(-55%);
    opacity: 0; /* Définir l'opacité à 0 à la fin de l'animation */
  }
}

@keyframes span2Animation {
  0% {
    transform: translateY(55%);

    opacity: 0; /* Définir l'opacité à 0 au début de l'animation */
  }
  100% {
    transform: translateY(-50%);

    opacity: 1; /* Définir l'opacité à 1 à la fin de l'animation */
  }
}
@keyframes span1AnimationReverse {
  0% {
    transform: translateY(-55%);
    opacity: 0; /* Définir l'opacité à 1 au début de l'animation */
  }
  50% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(50%);
    opacity: 1; /* Définir l'opacité à 0 à la fin de l'animation */
  }
}

@keyframes span2AnimationReverse {
  0% {
    transform: translateY(-50%);

    opacity: 1; /* Définir l'opacité à 0 au début de l'animation */
  }
  100% {
    transform: translateY(55%);

    opacity: 0; /* Définir l'opacité à 1 à la fin de l'animation */
  }
}
