nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px clamp(30px, 6vw, 60px);
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);

  transition: transform 0.3s ease;
  top: 0;
  z-index: 1;

  &.hide {
    transform: translateY(-100%);
  }
  &.show {
    transform: translateY(0);
  }
  a {
    position: relative;
  }
}
.nav-home {
  a {
    align-items: center;
    display: flex;
    z-index: 2;
    h4 {
      transition: 0.2s ease-in-out;
      font-size: clamp(24px, 3vw, 32px);
    }
    img {
      width: 30px;
      transition: transform 0.2s ease;
    }

    &.active {
      text-decoration: underline;
      &:after {
        transform: scaleX(1);
      }
    }
  }
}
.nav-links {
  align-items: center;

  @media screen and (max-width: 1120px) {
    display: none;
  }

  ul {
    display: flex;

    a {
      margin: 0 20px;
      position: relative;
      display: inline-block;
      font-size: clamp(18px, 2vw, 24px);

      &.active {
        text-decoration: underline;
      }
    }
  }

  &.responsive {
    @media screen and (min-width: 1120px) {
      display: none;
    }
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #040020;

    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    ul {
      display: flex;
      flex-direction: column;
      // transform: none;

      a {
        margin: 18px clamp(30px, 6vw, 60px);
        font-size: 36px;
        position: relative;
        display: inline-block;
        position: relative;
        width: fit-content;

        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}

//RESPONSIVE--------------------------

.toggle-btn {
  display: block;
  position: absolute;
  right: clamp(30px, 6vw, 60px);
  transition: 0.3s;
  z-index: 2;
  &:hover {
    cursor: pointer;
  }
  @media screen and (min-width: 1120px) {
    display: none;
  }
  &.active {
    span {
      // background-color: $white;

      &:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
      }
    }
  }
  span {
    height: 3px;
    width: 30px;
    background-color: white;
    display: flex;
    margin-top: 5px;
    transition: 0.2s ease;
    &:nth-child(1) {
      width: 30px;
    }
    &:nth-child(2) {
      width: 15px;
      margin-left: auto;
    }
    &:nth-child(3) {
      width: 30px;
    }
  }
}
