.projects-home {
  .projects-container {
    position: relative;
    margin: clamp(72px, 9vw, 148px) 60px 0 60px;
    ul {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
      row-gap: clamp(40px, 10vw, 100px);
    }
    @media screen and (max-width: 967px) {
      ul {
        grid-template-columns: 100%;
        li {
          margin: 0;
        }
      }
      margin: clamp(72px, 9vw, 148px) 0 0 0;
    }
    &:after {
      content: url(../../../public/assets/images/svg-deco.svg);
      position: absolute;
      left: -600px;
      top: 0;
      z-index: -2;
      @media screen and (max-width: 640px) {
        content: "";
      }
    }
  }

  .project {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    margin: 0 30px;

    @media screen and (max-width: 967px) {
      margin-bottom: 50px;
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
      .img-container {
        img {
          transition: 0.3s ease-in-out;
          transform: scale(1.05);
        }
      }
    }
    margin-bottom: 0px;
    h5 {
      // font-family: $barracuda;
      font-size: 32px;
      margin-bottom: 10px;
    }
    .img-container {
      overflow: hidden;
      width: 100%;
      object-fit: cover;
      margin-bottom: 15px;
      img {
        transition: 0.2s ease-in-out;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

@keyframes scaleImg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
