.projects-home {
  .projects-container {
    position: relative;
    margin: clamp(72px, 9vw, 148px) 60px 0 60px;
    ul {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
      row-gap: clamp(40px, 10vw, 100px);
    }
    @media screen and (max-width: 967px) {
      ul {
        grid-template-columns: 100%;
        li {
          margin: 0;
        }
      }
      margin: clamp(72px, 9vw, 148px) 0 0 0;
    }
    &:after {
      content: url(../../../public/assets/images/svg-deco.svg);
      position: absolute;
      left: -600px;
      top: 0;
      z-index: -2;
      @media screen and (max-width: 640px) {
        content: "";
      }
    }
  }

  .project {
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    margin: 0 30px;

    @media screen and (max-width: 967px) {
      margin-bottom: 50px;
      margin-right: 0;
    }

    margin-bottom: 0px;
    h5 {
      transition: 0.2s;
      font-size: 32px;
      margin-bottom: 10px;
    }
    .img-container {
      overflow: hidden;
      transition: 0.2s ease-in-out;
      width: 100%;
      object-fit: cover;
      opacity: 0.9;
      margin-bottom: 15px;
      img {
        transition: 0.2s ease-in-out;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        opacity: 1;
        transition: 0.2s ease-in-out;
      }

      .arrows {
        margin-right: 20px;
        z-index: 6;
        width: 2.5rem;
        height: 2.5rem;
        min-height: 2.5rem;
        min-width: 2.5rem;
        background-color: #ffffffd1;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
        overflow: hidden;
        transition: 0.2s ease-in-out;

        .arrow {
          position: absolute;
          transform: rotate(-45deg);
          &:nth-child(1) {
            transform: translate3d(0, 0, 0) rotate(-45deg);
          }
          &:nth-child(2) {
            transform: translate3d(-70%, 70%, 0) rotate(-45deg);
          }
        }
      }
    }
    &:hover {
      cursor: pointer;
      h5 {
        opacity: 0.7;
      }
      .img-container {
        opacity: 1;
        img {
          animation: imgScale 0.2s ease-in-out forwards;
        }
      }
      .description {
        p {
          opacity: 0.7;
        }
        .arrows {
          background-color: white;
          .arrow {
            &:nth-child(1) {
              animation: arrowHover1 0.2s ease-in-out forwards;
            }
            &:nth-child(2) {
              animation: arrowHover2 0.2s ease-in-out 0.1s forwards;
            }
          }
        }
      }
    }
    &:not(:hover) {
      .img-container {
        img {
          animation: imgScaleReverse 0.2s ease-in-out forwards;
        }
      }
      .description {
        .arrows {
          .arrow {
            &:nth-child(1) {
              animation: arrowHover1Reverse 0.2s ease-in-out forwards;
            }
            &:nth-child(2) {
              animation: arrowHover2Reverse 0.2s ease-in-out forwards;
            }
          }
        }
      }
    }
  }
}

@keyframes arrowHover1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
  100% {
    transform: translate3d(70%, -70%, 0) rotate(-45deg);
  }
}
@keyframes arrowHover2 {
  0% {
    transform: translate3d(-70%, 70%, 0) rotate(-45deg);
  }
  100% {
    transform: translate3d(0%, 0%, 0) rotate(-45deg);
  }
}
@keyframes arrowHover1Reverse {
  0% {
    transform: translate3d(70%, -70%, 0) rotate(-45deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
@keyframes arrowHover2Reverse {
  0% {
    transform: translate3d(0%, 0%, 0) rotate(-45deg);
  }
  100% {
    transform: translate3d(-70%, 70%, 0) rotate(-45deg);
  }
}

@keyframes imgScale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
@keyframes imgScaleReverse {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
