@import "./variables";

body {
  font-family: $barracuda;
  position: relative;
  background: black;
  color: $white;
  overflow-x: hidden;
  scroll-behavior: smooth;
  section {
    margin-top: clamp(100px, 20vw, 200px);
  }
  footer {
    margin-top: clamp(100px, 26vw, 260px);
  }
  .hero,
  main:not(.page-transition) {
    padding: 0 clamp(30px, 6vw, 60px);
  }

  main {
    max-width: 1600px;
    margin: 0 auto;
  }

  p {
    font-family: $satoshi;
    font-size: 20px;
    @media screen and (max-width: 567px) {
      font-size: 16px;
    }
  }
  h2 {
    font-size: 96px;
    font-family: $barracuda;
    margin-bottom: clamp(34px, 6vw, 58px);
    @media screen and (max-width: 967px) {
      font-size: 76px;
    }
    @media screen and (max-width: 567px) {
      font-size: 56px;
    }
    @media screen and (max-width: 450px) {
      font-size: 40px;
    }
  }
  a {
    text-decoration: none;
  }
}
