@import "../variables";

main {
  // overflow-x: hidden;
  margin: 0 clamp(30px, 6vw, 60px);
  .hero {
    padding: 200px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    @media screen and (max-width: 757px) {
      flex-direction: column;
      align-items: start;
      padding: 100px 0;
    }

    h1 {
      font-family: $barracuda;
      font-size: 160px;
      @media screen and (max-width: 967px) {
        font-size: 130px;
      }
      @media screen and (max-width: 537px) {
        font-size: 100px;
      }
      @media screen and (max-width: 450px) {
        font-size: 80px;
      }
      @media screen and (max-width: 757px) {
        margin-bottom: 40px;
      }
    }
    h3 {
      font-family: $barracuda;
      font-size: 64px;
      margin-right: 50px;
      margin-bottom: -50px;
      text-align: right;
      padding-left: 50px;
      @media screen and (max-width: 967px) {
        font-size: 50px;
      }
      @media screen and (max-width: 537px) {
        font-size: 30px;
      }
      @media screen and (max-width: 450px) {
        font-size: 25px;
      }
      @media screen and (max-width: 757px) {
        margin-left: auto;
      }

      // &:after {
      //   content: url(../../../public/assets/images/svg-deco.svg);
      //   position: absolute;
      //   right: 0;
      //   top: 100px;
      //   z-index: -2;
      // }
    }
  }

  .about-me {
    margin-top: 200px;
    position: relative;
    @media screen and (max-width: 537px) {
      margin-top: 50px;
    }
    h2 {
      margin-bottom: 40px;
    }
    .about-me__container {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 967px) {
        flex-direction: column;
        align-items: center;
      }
      @media screen and (max-width: 537px) {
        align-items: flex-start;
      }
      .img-container {
        width: 50%;
        display: flex;

        justify-content: left;
        @media screen and (max-width: 967px) {
          width: 70%;
          justify-content: center;
          margin-bottom: 50px;
        }
        @media screen and (max-width: 537px) {
          justify-content: flex-start;
        }
        img {
          width: 70%;
          height: 80%;
          object-fit: cover;
        }
        // &:after {
        //   content: url(../../../public/assets/images/svg-deco.svg);
        //   position: absolute;
        //   right: -200px;
        //   top: 300px;
        //   z-index: -2;
        //   @media screen and (max-width: 640px) {
        //     content: "";
        //   }
        // }
      }
      p {
        width: 50%;
        @media screen and (max-width: 967px) {
          width: 100%;
        }
      }
    }
  }
  .contact {
    margin-top: 260px;
    margin-bottom: 200px;
    h2 {
      position: relative;
      &:after {
        content: url(../../../public/assets/images/svg-deco.svg);
        position: absolute;
        left: -400px;
        top: -200px;
        z-index: -2;
        @media screen and (max-width: 640px) {
          content: "";
        }
      }
    }
    .infos-contact {
      margin-top: 72px;
      display: flex;
      justify-content: space-between;
      font-family: $barracuda;
      align-items: center;
      @media screen and (max-width: 765px) {
        flex-direction: column;
        align-items: flex-start;
      }
      #mail {
        font-family: $barracuda;
        font-size: 36px;
        @media screen and (max-width: 967px) {
          font-size: 28px;
        }
        @media screen and (max-width: 567px) {
          font-size: 22px;
        }
      }
      ul {
        display: flex;
        a {
          margin-left: 50px;
          @media screen and (max-width: 765px) {
            margin-right: 50px;
            margin-left: 0;
            margin-top: 30px;
          }
          @media screen and (max-width: 450px) {
            margin-right: 0;
          }
          img {
            width: 50px;
            @media screen and (max-width: 967px) {
              width: 40px;
            }
          }
        }
      }
    }
  }
}
