@import "../variables";
main {
  // overflow-x: hidden;
  .hero-project {
    padding: 200px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    @media screen and (max-width: 1180px) {
      flex-direction: column;
      align-items: start;
      padding: 100px 0;
    }

    h1 {
      font-family: $barracuda;
      font-size: 160px;
      @media screen and (max-width: 967px) {
        font-size: 130px;
      }
      @media screen and (max-width: 537px) {
        font-size: 100px;
        line-height: 100%;
      }
      @media screen and (max-width: 450px) {
        font-size: 80px;
      }
      @media screen and (max-width: 757px) {
        margin-bottom: 40px;
      }
      &:after {
        content: url(../../../public/assets/images/svg-deco.svg);
        position: absolute;
        left: -300px;
        top: 100px;
        z-index: -2;
        @media screen and (max-width: 640px) {
          content: "";
        }
      }
    }
    .presentation {
      width: 50%;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1180px) {
        margin-left: 0;
        width: 100%;
        margin-top: 30px;
      }

      h4 {
        padding: 15px 0;
        font-family: $satoshi;
        font-size: 22px;
        font-weight: bold;
      }
      p {
        font-size: 20px;
        margin: 30px 0 50px 0;
      }
      .view-project {
        width: 150px;
        padding: 15px;
        font-family: $barracuda;
        font-size: 18px;
        transition: 0.2s;

        &:hover {
          cursor: pointer;
          font-size: 20px;
          font-weight: bold;
        }
      }
    }
  }

  .cover {
    max-width: 2100px;
    margin: 100px auto 200px auto;
    @media screen and (max-width: 1023px) {
      margin-bottom: 100px;
    }
    @media screen and (max-width: 707px) {
      margin-bottom: 50px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .project-description {
    display: flex;
    margin: 0 60px;
    justify-content: space-between;
    height: 100%;
    @media screen and (max-width: 1023px) {
      flex-direction: column;
    }
    @media screen and (max-width: 707px) {
      margin: 0;
    }

    .txt-project {
      height: 90%;
      width: 40%;
      margin-right: 50px;
      position: sticky;
      top: 80px;
      margin-bottom: 100px;
      @media screen and (max-width: 1023px) {
        position: relative;
        width: 100%;
      }

      h4 {
        font-family: $barracuda;
        font-size: 26px;
        margin-bottom: 40px;
      }
      p {
        font-size: 24px;
        @media screen and (max-width: 1023px) {
          font-size: 22px;
        }
        @media screen and (max-width: 707px) {
          font-size: 18px;
        }
      }
    }
    .img-project {
      width: 50%;
      @media screen and (max-width: 1023px) {
        width: 100%;
        margin-top: 20px;
      }

      .img-container {
        width: 100%;
        margin-bottom: 100px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .tools {
    margin: 100px 60px 200px 60px;
    @media screen and (max-width: 707px) {
      margin: 100px 0;
    }
    @media screen and (max-width: 500px) {
      margin: 50px 0 100px 0;
    }
    h2 {
      font-size: 100px;
      font-family: $barracuda;
      position: relative;
      @media screen and (max-width: 1023px) {
        font-size: 76px;
      }
      @media screen and (max-width: 567px) {
        font-size: 56px;
      }
      @media screen and (max-width: 450px) {
        font-size: 40px;
      }
      &:after {
        content: url(../../../public/assets/images/svg-deco.svg);
        position: absolute;
        right: -300px;
        top: -500px;
        z-index: -2;
        @media screen and (max-width: 640px) {
          content: "";
        }
      }
    }
    .tools-container {
      ul {
        display: flex;
        margin: 50px 0;
        li {
          margin-right: 30px;
          align-content: center;
          @media screen and (max-width: 707px) {
            margin-right: 15px;
          }
          img {
            @media screen and (max-width: 1023px) {
              width: 30px;
            }
          }
        }
      }
      p {
        @media screen and (max-width: 1023px) {
          font-size: 20px;
        }
        @media screen and (max-width: 707px) {
          font-size: 18px;
        }
      }
      .btn {
        margin-top: 24px;
      }
    }
  }
}
